/* ----- Media Queries ----- */


/* 992-1200px */

@media (max-width: 1199px) {
	.carousel {
		padding: 75px 0;
	}
	.catalog {
		&__content {
			gap: 18px;
		}
	}
	.reviews {
		&__text {
			width: 570px;
			padding-left: 15px;
		}
	}
}


/* 768-992px */

@media (max-width: 991px) {
	.header {
		padding-bottom: 70px;
		background-position: 23%;
	};
	.contacts {
		&__phone {
			font-size: 16px;
			margin-bottom: 6px;
		}
		&__btn {
			padding: 6px 18px;
		}
	}
	.offer {
		&__title {
			font-size: 40px;
		}
		&__descr {
			font-size: 20px;
		}
		&__btn {
			font-size: 14px;
		}
	}
	.blocks-title {
		font-size: 28px;
	}
	.benefits {
		padding: 60px 0 65px;
		&__wrap_title {
			margin-bottom: 15px;
			font-size: 16px;
		}
		&__ico {
			margin-bottom: 24px;
		}
		&__wrap_descr {
			font-size: 12px;
		}
	}
	.consultation {
		padding: 70px 0 75px;
		&__title {
			font-size: 30px;
			margin-bottom: 45px;
		}
		&__descr {
			font-size: 18px;
		}
	}
	.form {
		&__btn {
			font-size: 14px;
			padding: 18px 0;
		}
		&__input {
			font-size: 12px;
		}
	}
	.carousel {
		padding: 70px 0;
		&__inner {
			width: 600px;
		}
		.slick-next {
			img {
				width: 70%;
				height: 70%;
			}
		}
		.slick-prev {
			img {
				width: 70%;
				height: 70%;
			}
		}
	}
	.catalog {
		&__tab {
			width: 27%;
			div {
				font-size: 16px;
			}
		}
	}
	.reviews {
		&__text {
			width: 400px;
		}
	}
}


/* 576-768px */


@media (max-width: 767px) {
	.header {
		padding-bottom: 60px;
	}
	.contacts {
		margin-bottom: 90px;
	}
	.offer {
		&__title {
			font-size: 30px;
		}
		&__icons {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		&__descr {
			font-size: 16px;
		}
		&__benefit {
			div {
				font-size: 13px;
				font-weight: 300;
			}
		}
		&__btn {
			font-size: 13px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.blocks-title {
		font-size: 28px;
	}
	.benefits {
		padding: 55px 0 30px;
		&__title {
			margin-bottom: 40px;
		}
		&__wrap {
			margin-bottom: 30px;
			&_title {
				margin-bottom: 10px;
			}
		}
		&__ico {
			margin-bottom: 15px;
		}
	}
	.consultation {
		padding: 60px 0;
		&__title {
			font-size: 28px;
			margin-bottom: 35px;
		}
		&__descr {
			font-size: 16px;
		}
	}
	.form {
		margin: 0 auto;
		width: 260px;
		&__btn {
			font-size: 13px;
		}
		&__input {			
			height: 46px;
		}
	}
	.carousel {
		padding: 65px 0;
		&__inner {
			width: 100%;
		}
		.slick-dots {
			display: flex;
			justify-content: center;
			gap: 10px;
			li {
				button {
					padding: 5px;
					border-radius: 50%;
					background-color: #fff;
					border: 1px solid $theme-color;
					font-size: 0;
				}
			}
			.slick-active {
				button {
					background-color: $theme-color;
				}
			}
		}
	}
	.catalog {
		&__title {
			margin-bottom: 45px;
		}
		&__tab {
			div {
				font-size: 16px;
				transform: none;
			}
			width: 95%;
			margin: 0 auto 2px;
			transform: none;
		}
		&__tabs {
			margin-bottom: 45px;
		}
		&-item {
			width: 240px;
			&__price {
				font-size: 15px;
			}
			&__content {				
			padding: 15px 15px 0 15px;
			}
			&__footer {				
			padding: 0 15px 20px 15px;
			}
		}
	}
	.consult-btn_mini {
		width: 118px;
	}
	.reviews {
		&__title {
			padding-bottom: 55px;
		}
		&__text {
			width: 380px;
		}
		&__photo {
			width: 130px;
			height: 130px;
		}
	}
	.footer {
		&__info {
			width: 100%;
			padding: 35px 0;
			position: inherit;
		}
		&__address {
			margin-bottom: 15px;
		}
		&__phone {
			margin-bottom: 18px;
		}
	}
}


/* 460-576px */

@media screen and (max-width: 575px) {
	.header {
		padding: 30px 0 60px;
	}
	.offer {
		// &__title {
		// 	font-size: 30px;
		// };
		&__icons {
			display: flex;
		}
		&__descr {
			font-size: 14px;
		}
	}
	.benefits {
		padding-bottom: 40px;
		&__title {
			margin-bottom: 30px;
		};
		&__ico {
			margin-bottom: 10px;
		};
		&__wrap {
			margin-bottom: 25px;
			&_title {
				margin-bottom: 10px;
			}
		}
	}
	.carousel {
		padding: 55px 0;
		.slick-dots {
			li {
				button {
					padding:4px;
				}
			}
		}
	}
	.catalog {
		&-item {
			width: 46%;
			&__img {
				max-width: 65%;
			}
			&__list {
				padding: 15px 15px 15px 22px;
				li {
					margin-bottom: 7px;
					&::before {
						left: -12px;
					}
				}
			}
			hr {
				display: none;
			}
			&__footer {
				display: block;
				margin-top: 20px;
			}
			&__prices {
				display: flex;
				justify-content: space-between;
				margin-bottom: 12px;
			}
		}		
		&__content {
			gap: 8px;
		}
	}
	.consult-btn_mini {
		width: 100%;
	}
	.reviews {
		&__photo {
			margin: 0 auto;
			margin-bottom: 30px;
		}
		&__text {
			text-align: center;
			width: 100%;
		}
		&__feedback {
			text-align: left;
		}
	}
	.footer {
		&__info {
			width: 100%;
			padding-bottom: 30px;
		}
		&__address {
			font-size: 16px;
		}
		&__phone {
			font-size: 16px;
		}&__link {
			width: 45px;
			height: 45px;
			font-size: 20px;
			line-height: 43px;
		}
	}
	.popup {
		&__close {
			right: 0;
			padding: 5px;
		}
	}
}


/* 320-460px */
@media screen and (max-width: 459px) {
	.contacts {
		&__btn {
			display: none;
		}
		&__phone {
			font-size: 14px;
		}
	}
	.offer {
		&__descr {
			font-size: 13px;
		}
		&__benefit {
			margin-bottom: 45px;
			div {
				margin-top: 10px;
			}
		}
		&__icons {
			flex-wrap: wrap;
			width: 75%;
			margin: 60px auto 0;
		}
		&__btn {
			margin: 25px auto 18px;
			padding: 15px 20px;
		}
		&__text {
			text-align: center;
		}
	}
	.consultation {
		&__title {
			font-size: 26px;
		}
	};
	.form {
		max-width: 300px;
		&__input {
			width: inherit;
		};
		&__btn  {
			width: inherit;
		}
	}
	.carousel {
		.slick-dots {
			li {
				button {
					padding: 3px;
				}
			}
		}
	}
	.catalog {
		&__title {
			margin-bottom: 25px;
		}
		&__tabs {
			margin-bottom: 25px;
		}
		&-item {
			width: 100%;
		}
	}
	.popup {
		width: 90%;
		padding: 20px;
		.form {
			width: 100%;
		}
		&__descr {
			margin-bottom: 15px;
		}
		&__close {
			font-size: 32px;
		}
	}
}