.benefits {
    padding: 70px 0 80px;
    background-color: #f6f6f6;
    &__wrap {
        max-width: 236px;
        color: $maintext-color;
        &_descr {
            span {
                text-decoration: underline;
                color: #ff0000;
            }
        }
    }
    &__title {
        margin-bottom: 65px;
    }
    &__ico {
        margin-bottom: 38px;
    }
    &__wrap {
        margin: 0 auto;
        &_title {
            margin-bottom: 26px;
            font-size: 18px;
            font-weight: 700;
        }
    }    
}