.consult-btn {
    font-family: 'Museo Sans';
    background-color: $theme-color;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    &:hover {
        background-color: #ac0000;
    }
    &_mini  {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}

.header {
    background: #d0d6ea url(../img/main-bg.jpeg) no-repeat center (top / cover);
    padding: 21px 0 93px;
    color: #ffffff;
}

.logo {
    max-width: 100px;
}

.contacts {
    margin-bottom: 90px;
    &__text {
        margin: 0 auto;
        max-width: 200px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        span {
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 8px;
        &:hover {
            color: #ffffff;
            text-shadow: 1px 1px 8px;
        }
    }
    &__btn {    
        font-size: 12px;
        padding: 8px 18px;
    }
}

.offer {
    &__title {
    font-size: 42px;
    font-weight: 700;
    }
    &__descr {
        font-size: 24px;;
        font-weight: 500;
    }
    &__icons {
        margin-top: 66px;
        margin-bottom: 68px;
    }
    &__benefit {
        width: 110px;
        div {
            font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        margin-top: 20px;
        }
    }
    &__btn {
        display: block;
        padding: 16px 42px;
        font-size: 16px;
        margin: 0 0 18px auto;
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        a {
            color:#ffffff;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: #ffffff;
                text-shadow: 1px 1px 8px;
            }
        }
    }
}